# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribuição / pacotes de distribuição
.Python
env/
venv/
ENV/
env.bak/
venv.bak/
*.egg-info/
.dist/
*.egg
.eggs/
*.whl
*.wheel

# Arquivos de configuração do ambiente
*.env
*.venv
.envrc
*.env.local
*.env.*.local

# Logs e arquivos temporários
*.log
*.tmp
*.temp

# Testes e caches
.tox/
.coverage
.cache/
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/
.coverage.*

# Diretórios de IDEs
.vscode/
.idea/

# Arquivos de lock
Pipfile.lock
poetry.lock

# Arquivos de execução de scripts
*.sh
*.bat

# Dados do Jupyter Notebook
.ipynb_checkpoints

# Arquivos de saída de compilação
build/
dist/
wheels/
share/python-wheels/

# Arquivos de virtualenv
.pip/
local/
lib/
include/
